.all {
  border: 3px solid black;
  width: 70%;
  height: 100%;
  margin: 0% 5% 0% 170px;
  background-color: aliceblue;
}
.body {
  display: flex;
  flex-direction: column;
}
.description {
  border: 3px solid black;
  width: 70%;
  height: 50px;
  margin: 0% 5% 0% 170px;
  background-color: aliceblue;
}
.links {
  border: 3px solid black;
  width: 70%;
  height: 50px;
  margin: 0% 5% 0% 170px;
  background-color: aliceblue;
}
