.carousel {
  width: 100%;
  display: flex;
  color: black;
  font-weight: bold;
}
.png {
  border: 2px solid rgb(0, 0, 0);
  height: 250px;
  width: 250px;
}
.span {
  margin-left: -240px;
  margin-top: 10px;
  color: black;
  /* border: 2px solid red; */
}
.description-random-char {
  border: 2px solid rgb(0, 0, 0);
  margin-left: 250px;
  height: 250px;
  width: 250px;
  word-wrap: break-word;
  background-color: white;
}
