.h1 {
  border: 2px solid red;
  width: 40%;
  margin-left: 5%;
  word-wrap: break-word;
}
.item-img {
  border: 2px solid red;
  width: 250px;
  margin-left: 5%;
  height: 250px;
  cursor: pointer;
}
.img-n-h1 {
  display: flex;
}
.CircularProgress {
  /* background-color: rgb(1, 18, 34); */
  margin: 50%;
  z-index: 100;
  border-radius: 20px;
}
